<!DOCTYPE html>
<html>
  <head>
    <title>Holiday</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">
  </head>
  <header id='header'>
    <% if current_user != nil %>
      <span>Welcome to Wacky Holidays!</span> <span>Welcome <%= current_user.user_name %></span>
    <% else %>
      <p id='welcome'>Welcome to Wacky Holidays!</p>
      <span id='signUp'>Sign Up</span> To Recieve Emails Everytime a Wacky Holiday Is Approaching or
      <span id='logIn'>Login</span> To Stop Recieving Emails
    <% end %>
  </header>
  <body id='body'>
    <p id='holidayMessage'><%= @holiday_message %></p>
    <div id='sign_up_div'>
      <p>SIGN UP TO BECOME A MEMBER!</p>
      <%= form_tag("/sign_up", method: "post") do %>
        <%= text_field_tag(:user_name, nil, placeholder: "Enter A User Name") %><br>
        <%= text_field_tag(:email, nil, placeholder: "Enter Your Email") %><br>
        <%= text_field_tag(:password, nil, placeholder: "Enter A Password") %><br>
        <%= submit_tag("SIGN UP") %>
      <% end %>
    </div>
    <div id='log_in_div'>
      <p>LOG IN TO ACCESS YOUR ACCOUNT!</p>
      <%= form_tag("/log_in", method: "post") do %>
        <%= text_field_tag(:log_username, "Enter Your User Name") %><br>
        <%= text_field_tag(:log_password, "Enter Your Password") %><br>
        <%= submit_tag("LOGIN") %>
      <% end %>
    </div>
    <div>
      <input id='searchThingy' type="text" placeholder="Search For Holidays By Key Words">
    </div>
    <div id='holidayStorage'>
    </div>
  </body>
  <script>
    let holidayDiv = $('#holidayStorage')

    const fetchHolidays = () => {
      fetch('/api/v1/holidays')
      .then(response => response.json())
      .then(days => appendDays(days))
      .catch(error => console.log({ error }));
    }

    const appendDays = (days) => {
      days.forEach(day => {
        appendDay(day)
      })
    }

    const appendDay = (day) => {
      holidayDiv.append(
        `<p>${day.name} falls on ${day.day}</p>`
      )
    }

    $('#signUp').click(() => {
      $("#sign_up_div").toggle('slow')
    })

    $('#logIn').click(() => {
      $("#log_in_div").toggle('slow')
    })

    $(document).ready(
      holidayDiv.hide(),
      fetchHolidays(),
      $('#sign_up_div').hide(),
      $('#log_in_div').hide(),
      $('#signUp').css('cursor', 'pointer'),
      $('#logIn').css('cursor', 'pointer')
    )

    $(document).ready(function(){
      $("#searchThingy").on("keyup", function() {
        if ($("#searchThingy").val() == ""){
          holidayDiv.hide();
        } else {
        holidayDiv.show();
        var value = $(this).val().toLowerCase();
        $("#holidayStorage p").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      }});
    });
  </script>
</html>
